build/
cmake-build-*/
.DS_Store

*.o
*.a
*.so
*.dylib
*.exe
*.dot
*.svg
*.csv

build/
compile_commands.json

.cache/

experiments/data/*
experiments/plots/*
!experiments/data/.gitkeep
!experiments/plots/.gitkeep
__pycache__/
